html
    head
        title Animal Manager
        block scripts
           link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
           link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap-theme.min.css")
           script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
           script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
           script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
                
    body(style= 'background-color: #333; color:#FFF')
        block header
        block content
        block foot
        #footer